.checkboxContainer {
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ae8bdb;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.checkbox.checked {
  background-color: #ae8bdb;
}

.checkmark {
  color: #ffff;
}
