.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(18em);
}
.progressContainer {
  width: 300px;
  height: 16px;
  border-radius: 16px;
  background-color: #dbedd6;
  position: absolute;
  transform: translateY(2em);
}
.progressBar {
  border-radius: 16px;
  background-color: #4caf50;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
}
.progressBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(22em);
  height: 60vh;
  overflow-y: scroll;
}
.progressBtn button {
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 16px;
  border: none;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
