.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(18em);
}
.barContainer {
  width: 300px;
  height: 16px;
  border-radius: 16px;
  background-color: #dbedd6;
  position: absolute;
  transform: translateY(2em);
}
.progressBar {
  border-radius: 16px;
  background-color: #4caf50;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
}
